ph-bdve-peppol/src/main/resources/openpeppol/3.7.0/SCH/peppolbis-trdm077-1.0-punch-out/Schematron/OPENPEPPOL/UBL/OPENPEPPOLRULES-UBL-T77.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T77 -->
<!-- Timestamp: 2016-12-22 19:47:44 +0000 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T77" id="UBL-T77">
  <param name="EUGEN-T77-R001" value="(cbc:CustomizationID) = 'urn:www.cenbii.eu:transaction:biitrns077:ver2.0:extended:www.peppol.eu:bis:peppol18a:ver1.0'"/>
  <param name="EUGEN-T77-R002" value="(cbc:ProfileID)= 'urn:www.cenbii.eu:profile:bii18:ver1.0'"/>
  <param name="EUGEN-T77-R003" value="(cac:ValidityPeriod/cbc:EndDate) and (number(translate(cac:ValidityPeriod/cbc:EndDate,'-','')) &gt;= number(translate(cbc:IssueDate,'-','')))  "/>
  <param name="EUGEN-T77-R004" value="((cbc:ActionCode) = 'true') or ((cbc:ActionCode) = 'false') or (not(cbc:ActionCode))"/>
  <param name="EUGEN-T77-R006" value="(cac:ProviderParty/cbc:EndpointID)"/>
  <param name="EUGEN-T77-R007" value="(cac:ReceiverParty/cbc:EndpointID)"/>
  <param name="EUGEN-T77-R008" value="(cac:Price/cbc:BaseQuantity/@unitCode) = (cac:DeliveryUnit/cbc:BatchQuantity/@unitCode) or (not(cac:Price/cbc:BaseQuantity)) or (not(cac:DeliveryUnit/cbc:BatchQuantity))"/>
  <param name="EUGEN-T77-R009" value="(cac:Price/cbc:PriceAmount)"/>
  <param name="EUGEN-T77-R010" value="(cbc:Value = 'true' or cbc:Value = 'false')"/>
  <param name="EUGEN-T77-R011" value="((cbc:LeadTimeMeasure/@unitCode)= 'DAY') or (not(cbc:LeadTimeMeasure))"/>
  <param name="EUGEN-T77-R012" value="(count(cac:ItemSpecificationDocumentReference[cbc:DocumentTypeCode = 'main_image']) &lt;= 1)"/>
  <param name="EUGEN-T77-R013" value="@schemeID"/>
  <param name="EUGEN-T77-R014" value="@schemeID"/>
  <param name="EUGEN-T77-R015" value="(cbc:UBLVersionID) = '2.1'"/>
  <param name="EUGEN-T77-R017" value="@listID"/>
  <param name="PunchOut" value="/ubl:Catalogue"/>
  <param name="Endpoint" value="//cbc:EndpointID"/>
  <param name="PriceAndQuantity" value="//cac:CatalogueLine/cac:RequiredItemLocationQuantity"/>
  <param name="ItemClassification" value="//cac:CatalogueLine/cac:Item/cbc:ItemClassificationCode"/>
  <param name="Item" value="//cac:CatalogueLine/cac:Item"/>
  <param name="ServiceIndicator" value="//cac:Item/cac:AdditionalItemProperty[cbc:Name = 'ServiceIndicator']"/>
</pattern>
