peppol-validation-engine/src/test/resources/openpeppol/3.1.0-rc1/SCH/T58-CatalogueResponse/Schematron/OPENPEPPOL/UBL/OPENPEPPOL-UBL-T58.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for T58 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T58" id="UBL-T58">
  <param name="EUGEN-T58-R001" value="@schemeID"/>
  <param name="EUGEN-T58-R002" value="@schemeID"/>
  <param name="EUGEN-T58-R003" value="@listID = 'UNCL4343'"/>
  <param name="endpoint" value="//cbc:EndpointID"/>
  <param name="party_identifier" value="//cac:PartyIdentification/cbc:ID"/>
  <param name="response_code" value="//cbc:ResponseCode"/>
</pattern>
