src/test/resources/rule-source/biicore/BIICORE-CEFACT-T40-V1.0.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
    schemaVersion="iso">
  <title>BII2 CORE restrictions for Call for Tenders Transaction (T40)  InvitationToTender_8p0-D11A</title>
  <ns uri="urn:un:unece:uncefact:codelist:standard:5:ISO42173A:2011-08-31" prefix="clm5ISO42173A"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:6:0133:40106" prefix="clm60133"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:6:3055:D11A" prefix="clm63055"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:7" prefix="clm6Recommendation20"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccessRightsType:D11A" prefix="clm210AccountingE704"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAccountBalanceReopeningType:D11A" prefix="clm210AccountingE602"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAccountClassification:D11A" prefix="clm210AccountingE902"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAccountNatureType:D11A" prefix="clm210AccountingE502"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAccountStatus:D11A" prefix="clm210AccountingE305"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAccountType:D11A" prefix="clm210AccountingE501"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAmountQualifierType:D11A" prefix="clm210AccountingE603"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingAmountType:D11A" prefix="clm210AccountingE601"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingContact:D11A" prefix="clm210AccountingE023"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingDocumentType:D11A" prefix="clm210AccountingE006"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingEntryCategory:D11A" prefix="clm210AccountingE202"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingEntryLineCategory:D11A" prefix="clm210AccountingE203"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingEntryLineSource:D11A" prefix="clm210AccountingE302"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingEntryProcessing:D11A" prefix="clm210AccountingE201"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingJournal:D11A" prefix="clm210AccountingE012"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingJournalCategory:D11A" prefix="clm210AccountingE013"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingPeriodFunctionType:D11A" prefix="clm210AccountingE703"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingPerquisite:D11A" prefix="clm210AccountingE021"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AccountingVoucherMedium:D11A" prefix="clm210AccountingE101"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AdditionalPostponement:D11A" prefix="clm210AccountingE904"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AddressFormatType:D11A" prefix="clm210AccountingE011"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AlternateCurrencyAmount:D11A" prefix="clm210AccountingE304"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AmortizationMethod:D11A" prefix="clm210AccountingE204"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:AmountWeightType:D11A" prefix="clm210AccountingE702"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:CertificateType:D11A" prefix="clm210AccountingE004"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:FinancialAccountType:D11A" prefix="clm210AccountingE016"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:FinancialInstitutionRole:D11A" prefix="clm210AccountingE015"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:LifetimeEndCost:D11A" prefix="clm210LifetimeEndCostE206"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:OrganizationFunctionType:D11A" prefix="clm210OrganizationFunctionTypeE706"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:PartyType:D11A" prefix="clm210PartyTypeE705"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:RefundMethod:D11A" prefix="clm210RefundMethodE022"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:ScenarioType:D11A" prefix="clm210ScenarioTypeE018"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:SoftwareUserType:D11A" prefix="clm210SoftwareUserTypeE019"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:EDIFICASEU:TaxExemptionReason:D11A" prefix="clm210AccountingE307"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2010-11-04" prefix="clmIANACharacterSetCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2011-09-23" prefix="clmIANAMIMEMediaType"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:ISO:ISO2AlphaLanguageCode:20061027" prefix="clm5ISO63912A"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ActionCode:D10B" prefix="clm61229LineStatusCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AddressType:D10B" prefix="clm63131"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AdjustmentReasonDescriptionCode:D10B" prefix="clm64465"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AdjustmentReasonDescriptionCodeFinancial:D10B" prefix="clm64465AdjustmentReasonCodeFinancial"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCodeCargoOperationalCategory:D10A" prefix="clm63055CargoOperationalCategory"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCodeGoodsTypeCode:D10A" prefix="clm63055GoodsTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCodeTransportEquipmentSizeTypeCode:D10A" prefix="clm63055TransportEquipmentSizeTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeIdentificationCode:D10B" prefix="clm65189AllowanceChargeID"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeReasonCode:D10B" prefix="clm64465AllowanceChargeReasonCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:AutomaticDataCaptureMethodCode:D10B" prefix="clm67233AutomaticDataCaptureMethodCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CargoOperationalCategoryCode:D10B" prefix="clm67085b"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CargoTypeClassificationCode:D10B" prefix="clm67085"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CargoTypeCode:1996Rev2Final" prefix="clm6Recommendation21AnnexI"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CommodityIdentificationCode:D10B" prefix="clm67357"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CommunicationMeansTypeCode:D10B" prefix="clm63155CommunicationChannelCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ContactFunctionCode:D10B" prefix="clm63139ContactTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ContractTypeCode:D10B" prefix="clm69651"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ContractorType:D10B" prefix="clm6ContractorType"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CostManagementCode:D10B" prefix="clm69653"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CostReportingCode:D10B" prefix="clm69655"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:CustomsDutyRegimeTypeCode:D10B" prefix="clm69213"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsPackingCode:D10B" prefix="clm68339"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsRegulationCode:D10B" prefix="clm68273"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DateTimePeriodFunctionCode:D10B" prefix="clm62005DateTimePeriodFunctionCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryPlanCommitmentLevelCode:D10B" prefix="clm64017CommitmentLevelCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsCode:2000" prefix="clm64053"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsFunctionCode:D10B" prefix="clm64055DeliveryTermsFunctionCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DimensionTypeCode:D10B" prefix="clm66145"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCode:D10B" prefix="clm61001"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeAccounting:D10B" prefix="clm61001Accounting"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeBilling:D10B" prefix="clm61001Billing"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeInvoice:D10B" prefix="clm61001Invoice"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeQuotation:D10B" prefix="clm61001DocumentTypeCodeQuotation"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeRemittance:D10B" prefix="clm61001DocumentTypeCodeRemittance"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCodeScheduling:D10B" prefix="clm61001DocumentTypeCodeScheduling"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentStatusCode:D10B" prefix="clm61373"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DutyTaxFeeTypeCode:D10B" prefix="clm65153"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:DutyorTaxorFeeCategoryCode:D10B" prefix="clm65305"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:EarnedValueCalculationMethod:D10B" prefix="clm69657"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSizeTypeDescriptionCode:D10B" prefix="clm68155"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSupplierCode:D10B" prefix="clm68077"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:EventTimeReferenceCode:D10B" prefix="clm62475"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:EventTimeReferenceCodePaymentTermsEvent:D10B" prefix="clm62475PaymentTermsEvent"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeQuantityUnitBasisCode:D10B" prefix="clm6TDED6131"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeTariffCode:D10B" prefix="clm65243"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:FundingTypeCode:D10B" prefix="clm69659"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeCode:D10B" prefix="clm6TDED7357"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeExtensionCode:D10B" prefix="clm6TDED7361"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:GovernmentActionCode:D10B" prefix="clm69417"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:HierarchicalStructureTypeCode:D10B" prefix="clm69661"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:LocationFunctionCode:D10B" prefix="clm63227"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MarkingInstructionCode:D10B" prefix="clm64233"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasuredAttributeCode:D10B" prefix="clm66313"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeAirflow:4" prefix="clm6Recommendation20Airflow"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeDuration:4" prefix="clm6Recommendation20Duration"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeLinear:4" prefix="clm6Recommendation20Linear"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeTemperature:4" prefix="clm6Recommendation20Temperature"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeVolume:4" prefix="clm6Recommendation20Volume"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeWeight:4" prefix="clm6Recommendation20Weight"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MessageFunctionCode:D10B" prefix="clm61225MessageFunctionTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:MessageFunctionCodeAcknowledgement:D10B" prefix="clm61225Acknowledgement"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ObligationGuaranteeCode:D10B" prefix="clm6TDED4377"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PackageTypeCode:2006" prefix="clm67065"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingLevelCode:D10B" prefix="clm67075"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingMarkingCode:D10B" prefix="clm67233PackagingMarkingCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode:D10B" prefix="clm63035"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCodeChargePaying:D10B" prefix="clm63035ChargePaying"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentGuaranteeMeansCode:D10B" prefix="clm64431"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansChannelCode:D10B" prefix="clm64435"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansCode:D10B" prefix="clm64461"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMethodCode:D10B" prefix="clm64439"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentTermsTypeCode:D10B" prefix="clm64279"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PlanningLevel:D10B" prefix="clm6PlanningLevel"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PriceTypeCode:D10B" prefix="clm65375"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:PriorityDescriptionCode:D10B" prefix="clm64037PriorityDescriptionCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ProcessTypeCode:D10B" prefix="clm67187"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ProjectTypeCode:D10B" prefix="clm69665"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ReferenceTypeCode:D10B" prefix="clm61153ReferenceTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ReportingThresholdTriggerType:D10B" prefix="clm69667"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ResourceCostCategory:D10B" prefix="clm69669"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ResourcePlanMeasureType:D10B" prefix="clm69671"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ResponseTypeCode:D10B" prefix="clm64343ResponseTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyCode:D10B" prefix="clm69415ResponsibleAgencyCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyInvolvementCode:D10B" prefix="clm69411ResponsibleAgencyInvolvementCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ScheduleTaskRelationshipType:D10B" prefix="clm69673"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ScheduleTaskType:D10B" prefix="clm69675"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:ScheduleTypeCode:D10B" prefix="clm6ScheduleTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:SealConditionCode:D10B" prefix="clm64517"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:SealTypeCode:D10B" prefix="clm6SealTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:SealingPartyRoleCode:D10B" prefix="clm69303"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:SecurityClassificationType:D10B" prefix="clm69677"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:StatusCode:D10B" prefix="clm64405"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:StatusDescriptionCodeAccountingDebitCredit:D10B" prefix="clm64405AccountingDebitCredit"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:StatusDescriptionCodeWorkflow:D10B" prefix="clm64405StatusCodeWorkflow"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TemperatureTypeCode:D10B" prefix="clm66245"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentCategoryCode:D10B" prefix="clm68053"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentFullnessCode:D10B" prefix="clm68169"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentHaulageArrangementsCode:D10B" prefix="clm68341"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansDirectionCode:D10B" prefix="clm68101"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansTypeCode:2007" prefix="clm6Recommendation28"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportModeCode:2" prefix="clm6Recommendation19"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementStageCode:D10B" prefix="clm68051"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementTypeCode:D10B" prefix="clm68323TransportMovementTypeCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportPaymentArrangementCode:D10B" prefix="clm64237TransportPaymentArrangementCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceCategoryCode:D10B" prefix="clm65237TransportServiceCategoryCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceConditionCode:D10B" prefix="clm64065TransportServiceConditionCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServicePriorityCode:D10B" prefix="clm64219TransportServicePriorityCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceRequirementCode:D10B" prefix="clm67273TransportServiceRequirementCode"/>
  <ns uri="urn:un:unece:uncefact:codelist:standard:UNECE:TransportStatusCode:4" prefix="clm6Recommendation24"/>
  <ns uri="urn:un:unece:uncefact:data:Standard:QualifiedDataType:10" prefix="qdt"/>
  <ns uri="urn:un:unece:uncefact:data:Standard:ReusableAggregateBusinessInformationEntity:10" prefix="ram"/>
  <ns uri="urn:un:unece:uncefact:data:standard:InvitationToTender:8" prefix="rsm"/>
  <ns uri="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" prefix="udt"/>
  <ns uri="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" prefix="ccts"/>
  <ns uri="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-10" prefix="ids5ISO316612A"/>
  <ns uri="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOAlpha2LanguageCode:20061027" prefix="ids5ISO63912A"/>
  <ns uri="urn:un:unece:uncefact:identifierlist:standard:UNECE:FreightCostCode:4" prefix="ids6Recommendation23"/>
  <ns uri="urn:un:unece:uncefact:identifierlist:standard:UNECE:PaymentTermsDescriptionIdentifier:D10B" prefix="ids64277"/>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:InternationalName">
      <report flag="warning" test=".">
	Element 'ram:InternationalName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:Name">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PostalTenderingAddress/ram:CountryName">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PostalTenderingAddress/ram:LineOne">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PostalTenderingAddress/ram:LineTwo">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PostalTenderingAddress/ram:PostcodeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:BureauDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:BureauDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:DepartmentName">
      <report flag="warning" test=".">
	Element 'ram:DepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:DivisionDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:DivisionDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:EmailURIID">
      <report flag="warning" test=".">
	Element 'ram:EmailURIID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:LocalNumber">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:GovernmentDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:GovernmentDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:ID">
      <report flag="warning" test=".">
	Element 'ram:ID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:JobTitle">
      <report flag="warning" test=".">
	Element 'ram:JobTitle' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:OfficeCounterDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:OfficeCounterDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:PersonName">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:PostalTenderingAddress">
      <report flag="warning" test=".">
	Element 'ram:PostalTenderingAddress' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:Responsibility">
      <report flag="warning" test=".">
	Element 'ram:Responsibility' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:EmailURIID">
      <report flag="warning" test=".">
	Element 'ram:EmailURIID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:LocalNumber">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:EmailURIID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcurementRequiringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:LocalNumber">
      <report flag="warning" test=".">
	Element 'ram:LocalNumber' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:AlternateDesignatedTenderingContact">
      <report flag="warning" test=".">
	Element 'ram:AlternateDesignatedTenderingContact' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:BureauID">
      <report flag="warning" test=".">
	Element 'ram:BureauID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:DivisionID">
      <report flag="warning" test=".">
	Element 'ram:DivisionID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:InternationalName">
      <report flag="warning" test=".">
	Element 'ram:InternationalName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:Name">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PostalTenderingAddress/ram:CountryName">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PostalTenderingAddress/ram:LineOne">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PostalTenderingAddress/ram:LineTwo">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PostalTenderingAddress/ram:PostcodeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:BureauDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:BureauDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:DepartmentName">
      <report flag="warning" test=".">
	Element 'ram:DepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:DivisionDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:DivisionDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:EmailURIID">
      <report flag="warning" test=".">
	Element 'ram:EmailURIID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:FaxTenderingCommunication/ram:LocalNumber">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:GovernmentDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:GovernmentDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:ID">
      <report flag="warning" test=".">
	Element 'ram:ID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:JobTitle">
      <report flag="warning" test=".">
	Element 'ram:JobTitle' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:OfficeCounterDepartmentName">
      <report flag="warning" test=".">
	Element 'ram:OfficeCounterDepartmentName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:PersonName">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:PostalTenderingAddress">
      <report flag="warning" test=".">
	Element 'ram:PostalTenderingAddress' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:Responsibility">
      <report flag="warning" test=".">
	Element 'ram:Responsibility' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:EmailURIID">
      <report flag="warning" test=".">
	Element 'ram:EmailURIID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:TelephoneTenderingCommunication/ram:LocalNumber">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:ChannelCode">
      <report flag="warning" test=".">
	Element 'ram:ChannelCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:EmailURIID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringOrganization/ram:PrimaryTenderingContact/ram:URITenderingCommunication/ram:LocalNumber">
      <report flag="warning" test=".">
	Element 'ram:LocalNumber' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:ConstraintIndicator">
      <report flag="warning" test=".">
	Element 'ram:ConstraintIndicator' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:Description">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:Name">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:NetBudgetAmount">
      <report flag="warning" test=".">
	Element 'ram:NetBudgetAmount' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:DistrictID">
      <report flag="warning" test=".">
	Element 'ram:DistrictID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:Name">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:PostalTenderingAddress/ram:CountryName">
      <report flag="warning" test=".">
	Element 'ram:CountryName' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:PostalTenderingAddress/ram:LineOne">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:PostalTenderingAddress/ram:LineTwo">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:PhysicalProjectActualizationLocation/ram:PostalTenderingAddress/ram:PostcodeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:SubWorksTypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:TotalBudgetAmount">
      <report flag="warning" test="@currencyID">
	Attribute '@currencyID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:ProcuringProject/ram:WorksTypeCode">
      <report flag="warning" test=".">
	Element 'ram:WorksTypeCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:Comment">
      <report flag="warning" test=".">
	Element 'ram:Comment' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:CreationProductionSoftware">
      <report flag="warning" test=".">
	Element 'ram:CreationProductionSoftware' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:DefaultCurrencyCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:DefaultLanguageCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:Description">
      <report flag="warning" test=".">
	Element 'ram:Description' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ExchangePhaseStatusCode">
      <report flag="warning" test=".">
	Element 'ram:ExchangePhaseStatusCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:Abstract">
      <report flag="warning" test=".">
	Element 'ram:Abstract' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:Content">
      <report flag="warning" test=".">
	Element 'ram:Content' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:ContractualLanguageCode">
      <report flag="warning" test=".">
	Element 'ram:ContractualLanguageCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:RequestingSpecificationQuery/ram:Content">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:RequestingSpecificationQuery/ram:ContractualLanguageCode">
      <report flag="warning" test=".">
	Element 'ram:ContractualLanguageCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:RequestingSpecificationQuery/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:RequestingSpecificationQuery/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:RespondingSpecificationResponse">
      <report flag="warning" test=".">
	Element 'ram:RespondingSpecificationResponse' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ActualWorkItemComplexDescription/ram:SubsetWorkItemComplexDescription">
      <report flag="warning" test=".">
	Element 'ram:SubsetWorkItemComplexDescription' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:AlternativeClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:AlternativeClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ChangedRecordedStatus">
      <report flag="warning" test=".">
	Element 'ram:ChangedRecordedStatus' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:Comment">
      <report flag="warning" test=".">
	Element 'ram:Comment' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ContractualLanguageCode">
      <report flag="warning" test=".">
	Element 'ram:ContractualLanguageCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:Index">
      <report flag="warning" test=".">
	Element 'ram:Index' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:IndexValue">
      <report flag="warning" test=".">
	Element 'ram:IndexValue' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ItemBasicWorkItem">
      <report flag="warning" test=".">
	Element 'ram:ItemBasicWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:PriceListItemID">
      <report flag="warning" test=".">
	Element 'ram:PriceListItemID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:PrimaryClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:PrimaryClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ReferenceFileBinaryObject">
      <report flag="warning" test=".">
	Element 'ram:ReferenceFileBinaryObject' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ReferenceID">
      <report flag="warning" test=".">
	Element 'ram:ReferenceID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:ReferencedIdentifiedBinaryFile">
      <report flag="warning" test=".">
	Element 'ram:ReferencedIdentifiedBinaryFile' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:RequestedActionCode">
      <report flag="warning" test=".">
	Element 'ram:RequestedActionCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:StatusCode">
      <report flag="warning" test=".">
	Element 'ram:StatusCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:SubordinateBasicWorkItem">
      <report flag="warning" test=".">
	Element 'ram:SubordinateBasicWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalCalculatedPrice/ram:ChargeAmount">
      <report flag="warning" test="@currencyID">
	Attribute '@currencyID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalCalculatedPrice/ram:RelatedAppliedAllowanceCharge">
      <report flag="warning" test=".">
	Element 'ram:RelatedAppliedAllowanceCharge' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalCalculatedPrice/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantity">
      <report flag="warning" test="@unitCode">
	Attribute '@unitCode' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:TotalQuantityClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ActualQuantity">
      <report flag="warning" test="@unitCode">
	Attribute '@unitCode' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ActualQuantityPercent">
      <report flag="warning" test=".">
	Element 'ram:ActualQuantityPercent' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ActualQuantityWorkItemDimension">
      <report flag="warning" test=".">
	Element 'ram:ActualQuantityWorkItemDimension' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:AlternativeClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:AlternativeClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:BreakdownWorkItemQuantityAnalysis">
      <report flag="warning" test=".">
	Element 'ram:BreakdownWorkItemQuantityAnalysis' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ChangedRecordedStatus">
      <report flag="warning" test=".">
	Element 'ram:ChangedRecordedStatus' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ContractualLanguageCode">
      <report flag="warning" test=".">
	Element 'ram:ContractualLanguageCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:Description">
      <report flag="warning" test=".">
	Element 'ram:Description' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:PrimaryClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:PrimaryClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:StatusCode">
      <report flag="warning" test=".">
	Element 'ram:StatusCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TotalQuantityWorkItemQuantityAnalysis/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:TypeCode">
      <report flag="warning" test=".">
	Element 'ram:TypeCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:UnitCalculatedPrice/ram:ChargeAmount">
      <report flag="warning" test="@currencyID">
	Attribute '@currencyID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:UnitCalculatedPrice/ram:RelatedAppliedAllowanceCharge">
      <report flag="warning" test=".">
	Element 'ram:RelatedAppliedAllowanceCharge' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemBasicWorkItem/ram:UnitCalculatedPrice/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ActualWorkItemComplexDescription">
      <report flag="warning" test=".">
	Element 'ram:ActualWorkItemComplexDescription' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:AlternativeClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:AlternativeClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ChangedRecordedStatus">
      <report flag="warning" test=".">
	Element 'ram:ChangedRecordedStatus' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:Comment">
      <report flag="warning" test=".">
	Element 'ram:Comment' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ContractualLanguageCode">
      <report flag="warning" test=".">
	Element 'ram:ContractualLanguageCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:Description">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:Index">
      <report flag="warning" test=".">
	Element 'ram:Index' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:IndexValue">
      <report flag="warning" test=".">
	Element 'ram:IndexValue' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ItemBasicWorkItem">
      <report flag="warning" test=".">
	Element 'ram:ItemBasicWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ItemGroupedWorkItem">
      <report flag="warning" test=".">
	Element 'ram:ItemGroupedWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:PriceListItemID">
      <report flag="warning" test=".">
	Element 'ram:PriceListItemID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:PrimaryClassificationCode">
      <report flag="warning" test=".">
	Element 'ram:PrimaryClassificationCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ReferenceFileBinaryObject">
      <report flag="warning" test=".">
	Element 'ram:ReferenceFileBinaryObject' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:ReferencedIdentifiedBinaryFile">
      <report flag="warning" test=".">
	Element 'ram:ReferencedIdentifiedBinaryFile' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:RequestedActionCode">
      <report flag="warning" test=".">
	Element 'ram:RequestedActionCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:SubordinateBasicWorkItem">
      <report flag="warning" test=".">
	Element 'ram:SubordinateBasicWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:SubordinateGroupedWorkItem">
      <report flag="warning" test=".">
	Element 'ram:SubordinateGroupedWorkItem' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:TotalCalculatedPrice">
      <report flag="warning" test=".">
	Element 'ram:TotalCalculatedPrice' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:TotalQuantity">
      <report flag="warning" test=".">
	Element 'ram:TotalQuantity' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ItemGroupedWorkItem/ram:TypeCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:MeasurementMethodID">
      <report flag="warning" test=".">
	Element 'ram:MeasurementMethodID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:Name">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:ReferenceFileBinaryObject">
      <report flag="warning" test=".">
	Element 'ram:ReferenceFileBinaryObject' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderBillOfQuantities/ram:TotalCalculatedPrice">
      <report flag="warning" test=".">
	Element 'ram:TotalCalculatedPrice' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderInvitationDocument/ram:ID">
      <report flag="warning" test="@schemeID">
	Attribute '@schemeID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeName">
	Attribute '@schemeName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyID">
	Attribute '@schemeAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeAgencyName">
	Attribute '@schemeAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeVersionID">
	Attribute '@schemeVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeDataURI">
	Attribute '@schemeDataURI' marked as not used in the given context.</report>
      <report flag="warning" test="@schemeURI">
	Attribute '@schemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderInvitationDocument/ram:Name">
      <report flag="warning" test=".">
	Element 'ram:Name' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:AcceptanceTenderingPeriod/ram:StartDateTime">
      <report flag="warning" test=".">
	Element 'ram:StartDateTime' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:EntryFeeAmount">
      <report flag="warning" test=".">
	Element 'ram:EntryFeeAmount' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:EntryFeeIndicator">
      <report flag="warning" test=".">
	Element 'ram:EntryFeeIndicator' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:EvaluationRulesDescription">
      <report flag="warning" test=".">
	Element 'ram:EvaluationRulesDescription' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:ExplanationRequestDeadlineEventDateTime">
      <report flag="warning" test=".">
	Element 'ram:ExplanationRequestDeadlineEventDateTime' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:ExplanationSiteTenderingLocation">
      <report flag="warning" test=".">
	Element 'ram:ExplanationSiteTenderingLocation' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:ID">
      <report flag="warning" test=".">
	Element 'ram:ID' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:InformationAccessSiteTenderingLocation">
      <report flag="warning" test=".">
	Element 'ram:InformationAccessSiteTenderingLocation' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:InstructionsDescription">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:InvalidCriteriaDescription">
      <report flag="warning" test=".">
	Element 'ram:InvalidCriteriaDescription' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:JudgingCriteriaCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:Name">
      <report flag="warning" test=".">
	Element 'ram:Name' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:OpeningTendersEventDateTime">
      <report flag="warning" test=".">
	Element 'ram:OpeningTendersEventDateTime' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:ReferenceDocumentIndicator">
      <report flag="warning" test=".">
	Element 'ram:ReferenceDocumentIndicator' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:RequiredReferenceDocument">
      <report flag="warning" test=".">
	Element 'ram:RequiredReferenceDocument' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:SpecifiedTransactionPeriod/ram:Description">
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:TenderExplanationEventDateTime">
      <report flag="warning" test=".">
	Element 'ram:TenderExplanationEventDateTime' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:TenderInvitationRevisionCode">
      <report flag="warning" test=".">
	Element 'ram:TenderInvitationRevisionCode' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:TenderingProcedureCode">
      <report flag="warning" test="@listID">
	Attribute '@listID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyID">
	Attribute '@listAgencyID' marked as not used in the given context.</report>
      <report flag="warning" test="@listAgencyName">
	Attribute '@listAgencyName' marked as not used in the given context.</report>
      <report flag="warning" test="@listName">
	Attribute '@listName' marked as not used in the given context.</report>
      <report flag="warning" test="@listVersionID">
	Attribute '@listVersionID' marked as not used in the given context.</report>
      <report flag="warning" test="@name">
	Attribute '@name' marked as not used in the given context.</report>
      <report flag="warning" test="@languageID">
	Attribute '@languageID' marked as not used in the given context.</report>
      <report flag="warning" test="@listURI">
	Attribute '@listURI' marked as not used in the given context.</report>
      <report flag="warning" test="@listSchemeURI">
	Attribute '@listSchemeURI' marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:ThresholdPricePercent">
      <report flag="warning" test=".">
	Element 'ram:ThresholdPricePercent' is marked as not used in the given context.</report>
    </rule>
  </pattern>
  <pattern>
    <rule context="/rsm:InvitationToTender/rsm:TenderTenderingProcess/ram:UrgencyIndicator">
      <report flag="warning" test=".">
	Element 'ram:UrgencyIndicator' is marked as not used in the given context.</report>
    </rule>
  </pattern>
</schema>
