src/test/resources/openpeppol/3.1.0-rc1/SCH/T71-MessageLevelResponse/Schematron/OPENPEPPOL/UBL/OPENPEPPOL-UBL-T71.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for T71 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T71" id="UBL-T71">
  <param name="EUGEN-T71-R001" value="@listID = 'UNCL1001'"/>
  <param name="EUGEN-T71-R002" value="@listID = 'UNCL4343'"/>
  <param name="EUGEN-T71-R003" value="@listID = 'PEPPOLSTATUS'"/>
  <param name="EUGEN-T71-R004" value="@schemeID"/>
  <param name="EUGEN-T71-R005" value="@schemeID"/>
  <param name="Document_Type_Code" value="//cac:DocumentReference/cbc:DocumentTypeCode"/>
  <param name="Response_Code" value="//cac:Response/cbc:ResponseCode"/>
  <param name="Issue_Type_Code" value="//cac:Status/cbc:StatusReasonCode"/>
  <param name="Endpoint" value="//cbc:EndpointID"/>
  <param name="Party_Identifier" value="//cac:DocumentReference/cbc:DocumentTypeCode"/>
</pattern>
