ph-bdve-peppol/src/main/resources/openpeppol/3.4.0-rc1/SCH/peppolbis-trdm016-2.0-despatch-advice/Schematron/OPENPEPPOL/UBL/OPENPEPPOL-UBL-T16.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T16 -->
<!-- Timestamp: 2016-03-05 16:17:57 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T16" id="UBL-T16">
  <param name="EUGEN-T16-R001" value="@schemeID"/>
  <param name="EUGEN-T16-R002" value="cbc:ID/@schemeID"/>
  <param name="EUGEN-T16-R003" value="(cbc:IdentificationCode/@listID='ISO3166-1:Alpha2')"/>
  <param name="EUGEN-T16-R004" value="not(attribute::unitCode) or (attribute::unitCode and attribute::unitCodeListID = 'UNECERec20')"/>
  <param name="EUGEN-T16-R005" value="@listID = 'UNCL8273'"/>
  <param name="EUGEN-T16-R006" value="@listID = 'UNECERec21'"/>
  <param name="EUGEN-T16-R007" value="(cbc:DeliveredQuantity)"/>
  <param name="EUGEN-T16-R008" value="not(count(//*[not(node()[not(self::comment())])]) &gt; 0)"/>
  <param name="unit_code" value="//*[contains(name(),'Quantity')]"/>
  <param name="undg_code" value="cbc:UNDGCode"/>
  <param name="transport_handling_unit_type" value="cbc:TransportHandlingUnitTypeCode"/>
  <param name="party" value="//cac:PartyIdentification"/>
  <param name="country" value="/cac:Country"/>
  <param name="endpoint" value="//cbc:EndpointID"/>
  <param name="despatch_advice_Line" value="//cac:DespatchLine"/>
  <param name="despatch_advice" value="/ubl:DespatchAdvice"/>
</pattern>
