peppol-validation-artefacts/src/main/resources/peppol-rules/Catalogue/include/OPENPEPPOL-UBL-T58-test.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--This file is generated automatically! Do NOT edit!-->
<!--Schematron tests for binding UBL and transaction T58-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T58" id="UBL-T58">
  <param name="EUGEN-T58-R001" value="@schemeID" />
  <param name="EUGEN-T58-R002" value="@schemeID" />
  <param name="EUGEN-T58-R003" value="@listID = 'UNCL4343'" />
  <param name="endpoint" value="//cbc:EndpointID" />
  <param name="party_identifier" value="//cac:PartyIdentification/cbc:ID" />
  <param name="response_code" value="//cbc:ResponseCode" />
</pattern>
